.vs
POSModule/POSModule/bin/Debug/POSModule.exe
POSModule/POSModule/bin/Debug/POSModule.pdb
POSModule/POSModule/obj/Debug/POSModule.csproj.FileListAbsolute.txt
POSModule/POSModule/obj/Debug/POSModule.csproj.GenerateResource.cache
POSModule/POSModule/obj/Debug/POSModule.csprojAssemblyReference.cache
POSModule/POSModule/obj/Debug/POSModule.exe
POSModule/POSModule/obj/Debug/POSModule.pdb
